@import "https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto:ital,wght@1,300&display=swap";
@import "variables";
@import "header";
@import "maps";
@import "extend";

* {
  padding: 0;
  margin: 0;
}

.titulo {
  display: none;
}

body {
  /*min-height: 100vh;**/
  background: linear-gradient(
    to bottom,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 132, 113, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.navbar-nav {
  > li {
    > a {
      &::after {
        content: "|";
        padding: 0 5px;
      }
    }
  }
}
.classQuiensomos {
  padding: 2rem;
}
.carouselImg {
  height: 400px;
  object-fit: cover;
}
.carouselBot {
  text-decoration: none;
  font-weight: bold;
  color: rgb(23, 3, 209);
}
.bodyCrearcuenta {
  height: 350px;
  width: 350px;
  margin: auto;
}
.buttonCrearcuenta {
  margin: 1px;
  display: inline-block;
  background-color: #000;
  background: linear-gradient(
    to bottom,
    rgb(192, 48, 12) 0%,
    rgba(125, 132, 113, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}
.formCuenta {
  margin: 1rem;
}
.get-in-touch {
  max-width: 500px;
  margin: 50px auto;
  position: relative;
  .contac {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3rem;
    background: linear-gradient(
      to bottom,
      rgba(2, 0, 36, 1) 0%,
      rgba(125, 132, 113, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    -webkit-text-fill-color: #fff;
  }
}
.contact-form {
  .form-field {
    position: relative;
    margin: 32px 0;
  }
  .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
  }

  .submit-btn {
    display: inline-block;
    background-color: #000;
    background: linear-gradient(
      to bottom,
      rgb(192, 48, 12) 0%,
      rgba(125, 132, 113, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
  }
}
.zoom {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

section {
  border: #000 solid 1px;
  p {
    color: $color-principal;
    font-size: $fuente-normal;
  }
}

.centerBut {
  text-decoration: none;
  background-color: aqua;
  height: 40px;
  border: 1px solid rgb(23, 3, 209);
  color: rgb(23, 3, 209);
  text-align: center;
  transition: ease 0.6s;
  animation: efecto 2.8s infinite;
}

.colorProd {
  color: rgb(23, 3, 209);
  font-style: italic;
  text-align: center;
}
.borderProd {
  border-radius: 12px;
  margin-top: 5px;
}

/** imagen index **/
.imgIndex {
  width: 280px;
  height: 280px;
  object-fit: cover;
  display: block;
  margin-right: 6px;
}

.comIndex {
  margin: auto;
}

/**Whatsapp **/
.container-boton {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 10px;
  right: 5px;
  padding: 5px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
  margin-right: 5px;
}

.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.boton {
  width: 30px;
  transition: ease 1s;
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.carritoCompras {
  display: inline-block;
  background-color: #000;
  background: linear-gradient(
    to bottom,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 132, 113, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
}
